#!/usr/bin/make -f

# * default dir is /opt/venvs, thats not as cool as /usr/share
export DH_VIRTUALENV_INSTALL_ROOT=/usr/share

%:
	dh $@ --with python-virtualenv

# * execute the Makefile in repo root to create QT translation files
.PHONY: build
build:
	make ../..

# * exclude libfreetype due to dh_strip "string table error"
.PHONY: override_dh_strip 
override_dh_strip:
	dh_strip --exclude=libfreetype

# * skip library check for libs installed via pip
.PHONY: override_dh_shlibdeps 
override_dh_shlibdeps:
	dh_shlibdeps -X/Pillow.libs/

# * uninstall pip from venv
# * --use-system-packages so we can use python3-pyqt5 Ubuntu package instead of installing the big QT lib inside venv
#   Important: the build system must not have endesive or any other lib installed, this would cause dh_virtualenv to not include these libs in the venv!
PACKAGE=$(shell dh_listpackages)
DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)
.PHONY: override_dh_virtualenv 
override_dh_virtualenv:
	dh_virtualenv --python python3 --use-system-packages --sourcedirectory=../..
	$(DH_VENV_DIR)/bin/python -m pip uninstall --yes pip
