.DS_Store
__pycache__/

.private-assets/

build/
dist/

*.egg-info/

installer/windows/*.exe
installer/macos/target/*
installer/*.deb
installer/*.ddeb
installer/*.buildinfo
installer/*.changes
installer/debian/debian/files
installer/debian/debian/*.log
installer/debian/debian/*.debhelper
installer/debian/debian/*.substvars
installer/debian/debian/simple-signer/
installer/debian/debian/.debhelper/
