.DS_Store
__pycache__/

.private-assets/

build/
dist/

installer/windows/*.exe
installer/macos/target/*
installer/debian/*.deb
installer/debian/simple-signer/*
!installer/debian/simple-signer/DEBIAN/
