endesive==2.17.1
PyMuPDF

# manually install newest revision as long as there is no new release on PyPI (see oscrypto#78)
oscrypto @ git+https://github.com/wbond/oscrypto.git@1547f53

# pin pillow to <=9.5.0 as long as PyQt5 is used to avoid
# "cannot import name 'ImageQt' from 'PIL.ImageQt'"
# needs: libjpeg-dev zlib1g-dev
pillow<=9.5.0

# Debian package note: since python3-pyqt5 is a build-dependency and --use-system-packages is set,
# PyQt5 will not be installed in the venv. This is important because only the system-wide PyQt installation
# enables us to use the system theme and avoids unnessesary duplicate installation of the Qt libs on the system.
PyQt5
