[Desktop Entry]
Name=Simple Signer
Exec=/usr/bin/simple-signer %U
Type=Application
Comment=Sign PDF files
Icon=application-pgp-signature
Categories=Application;Office
Terminal=false
MimeType=application/pdf;
